@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background-color: #FFFFFF;
  --color-text-primary: #333333;
  
  --color-primary: #0F3E7A;
  --color-primary-footer: #133157;
  --color-primary-sidebar: #426CA3;
  --color-primary-content: #FFFFFF;

  --color-secondary: #F8B61C;
  --color-secondary-content: #0F3E7A;

  /* daisyui overwrite */
  --color-btn-primary: #0F3E7A;
}

.dark {
  --background-color: #4E4E4E;
  --color-text-primary: #FFFFFF;

  --color-primary: #456FA3;
  --color-primary-footer: #3D4A5B;
  --color-primary-sidebar: #4F617A;
  --color-primary-content: #FFFFFF;

  --color-secondary: #F8B61C;
  --color-secondary-content: #FFFFFF;

  /* daisyui overwrite */
  --color-btn-primary: #FFD37E;
}

/* daisyui modifier overwrite start */

.btn-primary {
  color: var(--color-btn-primary);
}

body {
  color: var(--color-text-primary);
  background: var(--background-color);
}


/* :root { */
/*   --foreground-rgb: 0, 0, 0; */
/*   --background-start-rgb: 214, 219, 220; */
/*   --background-end-rgb: 255, 255, 255; */
/* } */

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

/* body { */
/*   color: rgb(var(--foreground-rgb)); */
/*   background: linear-gradient( */
/*       to bottom, */
/*       transparent, */
/*       rgb(var(--background-end-rgb)) */
/*     ) */
/*     rgb(var(--background-start-rgb)); */
/* } */
