@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 40 100% 75%;
    --primary-foreground: 222.2 84% 4.9%;

    --secondary: 213 39% 45%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 212 40% 91%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* Customize */
    --footer: #133157;
  }

  .dark {
    --background: 0 0% 31%;
    --foreground: 210 40% 98%;

    --card: 0 0% 31%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 44%;
    --popover-foreground: 210 40% 98%;

    --primary: 40 100% 75%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 38%;
    --muted-foreground: 0 0% 76%;

    --accent: 0 0% 55%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 66%;
    --input: 213 14% 52%;
    --ring: 212.7 26.8% 83.9%;

    /* Customize */
    --footer: #3d4a5b;
  }

  .theme-transition {
    transition: 0.5s all cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  .hover-show-underline {
    position: relative;

    :after {
      content: "";
      pointer-events: none;
      bottom: -1px;
      left: 0%;
      position: absolute;
      width: 0%;
      height: 1px;
      background-color: #fff;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: width, left;
    }

    :hover:after,
    :focus:after {
      width: 100%;
    }
  }
}
